body{

}

.firstp {
    width: 800px;
    height: auto;
    margin-top: -630px;
    margin-left: 100px;
}

h1 {
    margin-bottom: 300px;
}

#front {
    color: white;
}

.first{
    width: 1000px;
}

#imageFirst{
    width:1300px;
    height:650px;
    margin-left: -70px;
}

.line{
    width: auto;
    height: 5px;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 30px;
}

.box1 {
    width: 1000px;
    height: auto;

}

.svgBox {
    background: none;
    width: 800px;
    height: 480px;
}

#svg0{
    background: none;
    width: 500px;
    height: 610px;
    margin-left: -180px;
    margin-top: -50px;
}

#svg1{
    background: none;
    width: 500px;
    height: 610px;
    margin-top: -650px;
    margin-left: -503px;
}

.box2 {
    width: 500px;
    height: auto;
}

.svgBox2 {
    background: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#svg2{
    background: none;
    width: 500px;
    height: 610px;
}

.box3 {
    width: 500px;
    height: auto;
}

.svgBox3 {
    background: none;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#svg3{
    background: none;
    width: 700px;
    height: 350px;
}

.box4 {
    width: 500px;
    height: auto;
}

.svgBox4 {
    background: none;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#svg4{
    background: none;
    width: 600px;
    height: 600px;
}

.link {
    margin-bottom: 20px;
    float: right;
}
