body{

}

.firstp {
    width: 800px;
    height: auto;
    margin-top: -630px;
    margin-left: 100px;
}

h1 {
    margin-bottom: 300px;
}

#front {
    color: white;
}

.first{
    width: 1000px;
}

#imageFirst{
    width:1300px;
    height:650px;
    margin-left: -70px;
}

.line{
    width: auto;
    height: 5px;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 30px;
}

.box1 {
    width: 1000px;
    height: auto;

}

.svgBox {
    background: none;
    width: 800px;
    height: 480px;
}

#svg1{
    background: none;
    width: 500px;
    height: 610px;
    margin-left: -180px;
    margin-top: -50px;
}

#svg2{
    background: none;
    width: 500px;
    height: 610px;
    margin-top: -650px;
    margin-left: -503px;
}

.box2 {
    width: 500px;
    height: auto;
}

#svg3{
    background: none;
    width: 600px;
    height: 550px;
    margin-top: 50px;
}

.box3 {
    width: 500px;
    height: auto;
}

#svg4{
    background: none;
    width: 600px;
    height: 400px;
}


.title {
    width: 600px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    margin-top: -400px;
    margin-left: 270px;
    color: #263A4F;
}

#one {
    width: 440px;
    height: 100px;
    margin-left: 330px;
    margin-top: 250px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263A4F;
}

#head1 {
    margin-top: 80px;
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263A4F;
    margin-left: 300px;
}

.buttonbox2 {
    width: 700px;
    height: 150px;
}

.svgBox2 {
    background: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.svgBox3 {
    background: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.svgBox4 {
    background: none;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}


