body{

}

.first{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#imageFirst{
    width:900px;
    height:600px;
}

.line{
    width: auto;
    height: 5px;
    background-color: black;
    margin-top: 50px;
}

#imageTwo{
    width: 300px;
    height: 300px;
}

#imageThird{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: -30px;
}

#imageFour{
    width: 400px;
    height: 400px;
}

#svg1{
    background: none;
    width: 500px;
    height: 610px;
    margin-left: -250px;
}

#svg2{
    background: none;
    width: 500px;
    height: 610px;
    margin-top: -610px;
    margin-left: -505px;
}

#svg3{
    background: none;
    width: 600px;
    height: 500px;
}

#svg4{
    background: none;
    width: 600px;
    height: 500px;
}


.title {
    width: 600px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    margin-top: -400px;
    margin-left: 270px;
    color: #263A4F;
}

#one {
    width: 440px;
    height: 100px;
    margin-left: 330px;
    margin-top: 250px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263A4F;
}

#head1 {
    margin-top: 80px;
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263A4F;
    margin-left: 300px;
}

.buttonbox2 {
    width: 700px;
    height: 150px;
}

.svgBox {
    background: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.svgBox2 {
    background: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.svgBox3 {
    background: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.svgBox4 {
    background: none;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}


