body{

}

.intro-header{
    width: 100%;
    padding-top: 300px;
    background: url(../images/churches.jpg)no-repeat center center;
    background-size: cover;

}

.words{
    width: 100%;
    height: 100%;
    margin-top: -100px;
}

#title {

}

#front {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

#byname{
  
}

.line{
    width: auto;
    height: 5px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1 {
    width: 100%;
    height: auto;
}

.svgBox {
    background: none;
    width: 100%;
    height: 570px;
    margin-left: -170px;
}



#svg0{
    background: none; 
    width: 100%;
    float: left;
    margin-left: -5px;

}

#svg1{
    background: none;
    width: 100%;
    float: left;
    margin-left: -775px;
}

#svg4{
    background: none;
    width: 100%;
    margin-left: -775px;
 

}

.box2 {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.svgBox2 {
    background: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#svg2{
    background: none;
    width: 100%;
    height: 610px;
}

.box3 {
    width: 100%;
    height: auto;
}

.svgBox3 {
    background: none;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#svg3{
    background: none;
    width: 100%;
    height: 400px;
}

.link {
    margin-bottom: 20px;
    float: right;
}
